# Runtime configuration for telegramBot.js
TELEGRAM_BOT_TOKEN=
GOOGLE_SHEETS_API_KEY=
GOOGLE_SHEETS_SHEET_ID=16gHjqHQJCbZApcKYUCtJkcoIsIKcJ30VkK-OVaYqwUU
GOOGLE_SHEETS_RANGE=LastDay!A1:S
ALLOWED_CHAT_ID=
